*{
    background-color: #0171cc;
    color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
    .notfound{
    display: flex;
    align-items: center;
    justify-content: center;
}
.notfound h1{
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 120px;
}
.notfound h2{
    position: absolute;
    top: 30%;
    left: 27%;
    font-size: 20px;
}
.notfound img{
    position: absolute;
    top: 50%;
    left: max(80px, 10%);
    max-width: max(150px, 15vw);
    border-radius: 5%;
}